<div style="padding: 10px;">
  <form >
    <table style="text-align : left; width : 100%;">
      <tr >
        <td class=" col-xs-3"><label class="form-title-field">Type</label></td>
        <td class=" col-xs-9"><kendo-dropdownlist [data]="listItems" ></kendo-dropdownlist></td>
      </tr>
      <tr>
        <td><label class="form-title-field">Code</label></td>
        <td><kendo-textbox-container style="padding: 0px;"><input kendoTextBox /></kendo-textbox-container></td>
      </tr>
      <tr>
        <td><label class="form-title-field">Name</label></td>
        <td><kendo-textbox-container style="padding: 0px;"><input kendoTextBox /></kendo-textbox-container></td>
      </tr>
      <tr>
        <td><label class="form-title-field">Description</label></td>
        <td><kendo-textbox-container style="padding: 0px;"><input kendoTextBox /></kendo-textbox-container></td>
      </tr>
      <tr>
        <td><label class="form-title-field">IP Address</label></td>
        <td><kendo-textbox-container style="padding: 0px;"><input kendoTextBox /></kendo-textbox-container></td>
      </tr>
      <tr>
        <td><label class="form-title-field">Status</label></td>
        <td><kendo-dropdownlist [data]="listItems"></kendo-dropdownlist></td>
      </tr>
    </table>
  </form>
</div>