<div style="padding: 10px;">
  <form [formGroup] = "itemForm">
    <table style="text-align : left; width : 100%;">
      <tr >
        <td><label class="form-title-field">Type</label></td>
        <td><kendo-dropdownlist 
              [data]="itemTypes" 
              formControlName = "type"></kendo-dropdownlist>
        </td>
      </tr>
      <tr>
        <td><label class="form-title-field">Code</label></td>
        <td><input 
              kendoTextBox 
              class="form-text-field"
              formControlName = "code"/>
        </td>
      </tr>
      <tr>
        <td><label class="form-title-field">Name</label></td>
        <td><input 
              kendoTextBox 
              class="form-text-field"
              formControlName = "name"/>
        </td>
      </tr>
      <tr>
        <td><label class="form-title-field">Description</label></td>
        <td><input 
              kendoTextBox 
              class="form-text-field"
              formControlName = "description"/>
        </td>
      </tr>
      <tr>
        <td><label class="form-title-field">IP Address</label></td>
        <td><input 
              kendoTextBox 
              class="form-text-field"
              formControlName = "ip_address"/>
        </td>
      </tr>
      <tr>
        <td><label class="form-title-field">Status</label></td>
        <td><kendo-dropdownlist 
            [data]="itemStatuses"
            formControlName = "status"></kendo-dropdownlist>
        </td>
      </tr>
    </table>
    <button (click)="onSubmit()">Locate</button>
  </form>
</div>